.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #bdc3c7;
}

.list-view .list-cell:selected {
    -fx-background-color: #bdc3c7;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.list-view .list-cell {
    -fx-background-color: transparent, -fx-background ;
    -fx-text-fill: #66686c;
    -fx-padding: 25 ;
    -fx-font-size: 16px;
    -fx-background-insets: 0px, 10px ;
}

.list-view .label {
    -fx-text-fill: #66686c;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}